In [31]:
#importing packages

import pandas as pd
from datetime import datetime
import statistics

In [32]:
#lambda function for parsing date
dateparse = lambda x: datetime.strptime(x, '%d/%m/%Y')

#importing csv file
df = pd.read_csv('Sales_report_Jessy.csv', parse_dates=['Date'], date_parser=dateparse)

print(df)

        Date Category   Sales
0 2016-08-01     Rice   40000
1 2016-08-08    Beans   15000
2 2016-08-20     Rice   10000
3 2016-11-10    Beans   60000
4 2016-11-19     Rice   12000
5 2016-11-25     Rice    1000
6 2016-12-30    Beans   13000
7 2016-12-10     Rice   15000
8 2016-12-12    Beans  100000

In [33]:
#testing grouping

dl = df.groupby(df['Date'].map(lambda x: x.month))

In [34]:
#prints the total sales

total_sales = df['Sales'].sum()

print("Total Sales: {}".format(total_sales))

Total Sales: 266000

In [35]:
# creates 'sales_report.txt' file

with open("sales_report.txt", "w") as f:
    f.write("Total Sales: {} \n \n".format(total_sales))

In [36]:
#groups the data by categories and adding the sales per category

dl_categories = df.groupby('Category')['Sales'].sum()

print(dl_categories)

Category
Beans    188000
Rice      78000
Name: Sales, dtype: int64

In [37]:
#groups the data by date (month) then categories
df_by_date = df.groupby(df['Date'].dt.month)['Sales'].sum()

print(df_by_date)

august_sales = df_by_date[8]
november_sales = df_by_date[11]
december_sales = df_by_date[12]

Date
8      65000
11     73000
12    128000
Name: Sales, dtype: int64

In [38]:

df_monthly_sales_by_category = df.groupby([df['Date'].dt.month, "Category"])['Sales'].sum()

max = df.groupby([df['Date'].dt.month])['Sales'].max()

min = df.groupby([df['Date'].dt.month])['Sales'].min()

print("Maximum per month: {}".format(max))
print("Minimum per month: {}".format(min))

#handle exception
try:
    print(df_monthly_sales_by_category[8])
except(e):
    print(e)
    
# append output into the text file
with open("sales_report.txt", "a") as f:
    f.write("August Sales: {} | Rice: {} | Beans: {} | Highest: {} | Lowest: {} \n \n"
      .format(august_sales, df_monthly_sales_by_category[8][0], df_monthly_sales_by_category[8][1],
              max[8], min[8]
             ))
    
print("August Sales: {} | Rice: {} | Beans: {} | Highest: {} | Lowest: {} \n \n"
      .format(august_sales, df_monthly_sales_by_category[8][0], df_monthly_sales_by_category[8][1],
              max[8], min[8]
             ))

# append output into the text file
with open("sales_report.txt", "a") as f:
    f.write("November Sales: {} | Rice: {} | Beans: {} | Highest: {} | Lowest: {} \n \n"
      .format(november_sales, df_monthly_sales_by_category[11][0], df_monthly_sales_by_category[11][1],
              max[11], min[11]
             ))

print("November Sales: {} | Rice: {} | Beans: {} | Highest: {} | Lowest: {} \n \n"
      .format(november_sales, df_monthly_sales_by_category[11][0], df_monthly_sales_by_category[11][1],
              max[11], min[11]
             ))
    
# append output into the text file
with open("sales_report.txt", "a") as f:
    f.write("December Sales: {} | Rice: {} | Beans: {} | Highest: {} | Lowest: {} \n \n"
      .format(december_sales, df_monthly_sales_by_category[12][0], df_monthly_sales_by_category[12][1],
              max[12], min[12]
             ))
print("December Sales: {} | Rice: {} | Beans: {} | Highest: {} | Lowest: {} \n \n"
      .format(december_sales, df_monthly_sales_by_category[12][0], df_monthly_sales_by_category[12][1],
              max[12], min[12]
             ))

Category
Beans    15000
Rice     50000
Name: Sales, dtype: int64
August Sales: 65000 | Rice: 15000 | Beans: 50000 | Highest: 40000 | Lowest: 10000


November Sales: 73000 | Rice: 60000 | Beans: 13000 | Highest: 60000 | Lowest: 1000


December Sales: 128000 | Rice: 113000 | Beans: 15000 | Highest: 100000 | Lowest: 13000

In [39]:
# get average per month
average_sales_per_month = [august_sales, november_sales, december_sales]

# append output into the text file
with open("sales_report.txt", "a") as f:
    f.write("Average Sales per Month: {} \n \n".format(statistics.mean(average_sales_per_month)))
    
print("Average Sales per Month: {} \n \n".format(statistics.mean(average_sales_per_month)))

Average Sales per Month: 88666

In [40]:
# get product % for clothes

rice = dl_categories[0]
beans = dl_categories[1]

products_total = rice + beans

# append output into the text file
with open("sales_report.txt", "a") as f:
    f.write("Sales by Product Category: \n \n Rice: {} ({})% \n \n Beans: {} ({})% \n \n".format(rice, (rice / products_total) * 100, beans, (beans / products_total) * 100))
    
print("Sales by Product Category: \n \n Rice: {} ({})% \n \n Beans: {} ({})% \n \n".format(rice, (rice / products_total) * 100, beans, (beans / products_total) * 100))
    
print("Completed generating sales report!")

Sales by Product Category:

 Rice: 188000 (70.67669172932331)%

 Beans: 78000 (29.32330827067669)%


Completed generating sales report!